:root {
    --white: #F0F3FA;
    --black: #121212;
    --bgHeader: #F0F3FA;
    --bgColor1: #D5DEEF;
    --bgColor2: #B1C9EF;
    --bgColor3: #628ECB;
    --title: #006DA4;
    --text: #395886;
    --text2: #000;
    --bgHoverLink: #B1C9EF;
    --links: #121212;
}

.darkMode:root {
    --bgHeader: #121212;
    --bgColor1: #032030;
    --bgColor2: #022B42;
    --bgColor3: #006DA4;
    --title: #638ECB;
    --text: #006DA4;
    --text2: #F0F3FA;
    --bgHoverLink: #003554;
    --links: #F0F3FA;
}


* {
    padding: 0;
    margin: 0;
}

.disable {
    display: none !important;
}

/* Início */
#inicio {
    height: 100vh;
    background: var(--bgColor1);
    display: flex;
    align-items: center;
}

.row {
    width: 100%;
    margin: auto;
}

picture {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 90vh;
}

picture img {
    width: 35vw;
    filter: drop-shadow(5px 5px 10px black);
}

.text-area {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 90vh;
}

.text-inicio h1 {
    color: var(--text);
    font-size: 5.5vw;
}

.text-inicio p {
    line-height: 0px;
    margin-bottom: 5px;
}

.text-inicio p:nth-child(1) {
    color: var(--title);
    font-size: 1.5em;
}

.text-inicio h1:nth-child(3) {
    color: var(--text2);
    font-size: 1.3em;
}

/* Barra piscando */
.blink {
    display: inline-block;
    position: absolute;
    width: 5px;
    height: 1em;
    margin-top: 5px;
    margin-left: 5px;
    background-color: var(--text);
    animation: blink 1s infinite !important;
}

@keyframes blink {
    0% {
        opacity: 1;
    }

    50% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

/* Botão LinkedIn */

.text-inicio button {
    margin-top: 15px;
    background-color: var(--white);
    border: 3px solid var(--text);
    border-radius: 20px;
    transition: .3s;
}

.text-inicio button a {
    padding: 10px;
    color: var(--black);
    text-decoration: none;
    font-size: 1.4em;
    font-weight: bold;
}

.text-inicio button:hover {
    background-color: var(--text);
}

.text-inicio button a:hover {
    color: var(--white);
}

/* Sobre mim */

#sobre-mim {
    height: 100vh;
    background-color: var(--bgColor2);
    display: flex;
    align-items: center;
}


#sobre-mim img {
    width: 30vw;
    border-radius: 20px;
    box-shadow: 2px 4px 10px black;
}

.text-sobre h2 {
    color: var(--text);
    font-size: 4vw;
}

.texto {
    color: var(--text2);
    font-size: 1.5vw;
}

/* Conhecimentos */

#conhecimentos {
    height: 100vh;
    background-color: var(--bgColor1);
    display: flex;
    align-items: center;
}

#conhecimentos h2 {
    padding-bottom: 7vh;
    text-align: center;
    font-size: 4vw;
    color: var(--text);
}

.texto p {
    text-align: justify;
}

.caroussel {
    display: flex;
    align-items: flex-start;
    justify-content: center;
    z-index: 0;
}

.info-text {
    width: 90%;
    align-self: flex-start;
}

h3 {
    color: var(--text);
}

.text-area-conhecimentos {
    display: flex;
    justify-content: center;
    height: 67vh;
}

/* Projetos */

#projetos {
    height: 100vh;
    background-color: var(--bgColor2);
}

#projetos h2 {
    padding-bottom: 5vh;
    padding-top: 15vh;
    text-align: center;
    font-size: 4vw;
    color: var(--text);
}

.project-area{
    width: 80%;
    margin: auto;
    height: 69vh;
    overflow: auto;
}

.project{
    display: flex;
    justify-content: center;
    height: min-content;
    margin-top: 15px;
}

/* Footer */

footer{
    height: min-content;
    background-color: var(--bgColor3);
}

footer p{
    color: #fff;
    margin-bottom: 5px;
}
footer a{
    color: #fff;
}

.footer-img-area{
    display: flex;
    width: 100%;
    justify-content: end;
}

.img-footer{
    width: 50%;
    justify-self: end;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.img-footer i{
    font-size: 80px;
}

@media (max-width:767px) {
    #inicio {
        display: flex;
        align-items: center;
    }

    picture {
        height: 45vh;
    }

    picture img {
        width: 40vh;
    }

    .text-area {
        height: 45vh;
        padding-bottom: 50px;
    }

    .text-inicio h1 {
        font-size: 10vw;
    }


    .text-inicio p:nth-child(1) {
        font-size: 4vw;
    }

    .text-inicio h1:nth-child(3) {
        font-size: 5vw;
    }

    /* Sobre mim */

    #sobre-mim img {
        height: 30vh;
        width: 50%;
        object-fit: cover;
    }

    #sobre-mim picture {
        height: 35vh;
        margin-top: 7vh;
    }

    #sobre-mim .text-area {
        height: 45vh;
        margin-top: 20px;
    }

    .text-sobre {
        height: auto;
    }

    .text-sobre h2 {
        font-size: 2em;
    }

    .texto {
        font-size: 1em;
    }

    /* Conhecimentos */
    .text-area-conhecimentos {
        height: 45vh;
    }

    #conhecimentos h2 {
        font-size: 2em;
        padding-bottom: 5vh;
    }

    .carousel {
        width: 80%;
    }

    .carousel-inner {
        display: flex;
        height: 25vh;
        width: 25vw;
        margin: auto;
    }

    /* projetos */
    #projetos h2 {
        font-size: 2em;
        padding-bottom: 5vh;
    }
}