:root{
    --white:#F0F3FA;
    --black:#121212;
    --bgHeader:#F0F3FA;
    --bgColor1: #D5DEEF;
    --bgColor2:#B1C9EF;
    --bgColor3:#628ECB;
    --title: #006DA4;
    --text: #395886;
    --text2: #000;
    --bgHoverLink:#B1C9EF;
    --links: #121212;
}

.darkMode:root {
    --bgHeader:#121212;
    --bgColor1: #032030;
    --bgColor2:#022B42;
    --bgColor3: #006DA4;
    --title:#638ECB;
    --text: #006DA4;
    --text2: #F0F3FA;
    --bgHoverLink:#003554;
    --links: #F0F3FA;
}


*{
    padding: 0;
    margin: 0;
}

.disable{
    display: none !important;
}

#inicio{
    height: 90vh;
    background: var(--bgColor1);
}

.row{
    width: 100%;
}

picture{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 90vh;
}

picture img{
    width: 70%;
}

.text-area{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 90vh;
}

.text-inicio h1 {
    color: var(--text);
    font-size: 4em;
}

.text-inicio p{
    line-height: 0px;
    margin-bottom: 5px;
}

.text-inicio p:nth-child(1) {
    color: var(--title);
    font-size: 1.5em;
}

.text-inicio p:nth-child(3) {
    color: var(--text2);
    font-size: 1.3em;
}


.blink {
    display: inline-block;
    position: absolute;
    width: 5px;
    height: 1em;
    margin-top: 5px;
    margin-left: 5px;
    background-color:var(--text);
    animation: blink 1s infinite !important;
  }

  @keyframes blink {
    0% {
      opacity: 1;
    }
    50% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
  }